[user]
	name = First Last
	email = email@address.com
[alias]
	br = branch
	st = status
	co = checkout
	cob = checkout -b
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
	default = simple
